[Desktop Entry]
Exec=kittenplayer
Icon=kittenplayer
Type=Application
Terminal=false
X-KDE-StartupNotify=true

Name=Kitten Player
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Multimedia;
