<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="meow" version="5">
	<ToolBar name="mainToolBar" iconSize="22" iconText='icononly'>
		<text>Main Toolbar</text>
		<Action name="add_files" />
		<separator />
		<Action name="previous" />
		<Action name="playpause" />
		<Action name="next" />
		<Action name="volume" />
	</ToolBar>
	<MenuBar>
		<Menu name="file" >
			<text>&amp;Library</text>
			<Action name="add_files" />
			<Action name="playbackorder" />
			<Action name="find" />
		</Menu>
	</MenuBar>
	<Menu name="item_context">
		<Action name="remove_item"/>
		<separator />
		<Action name="open_with"/>
		<Action name="item_properties"/>
	</Menu>
	<Menu name="artist_context">
		<Action name="remove_item"/>
	</Menu>
	<Menu name="album_context">
		<Action name="remove_item"/>
		<Action name="group_by_album"/>
	</Menu>
</gui>
<!-- kate: space-indent off; replace-tabs off; -->
