[Desktop Entry]
Exec=meow
Icon=meow
Type=Application
Terminal=false
X-KDE-StartupNotify=true

Name=Meow
GenericName=Music Player
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Multimedia;
